@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --font-google: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: rgb(31, 5, 92);
  height: 100vh;
}

nav {
  max-width: 50rem;
  font-family: var(--font-google);
}

nav ul {
  list-style: none;
  text-decoration: none;
}
ul a {
  text-decoration: none;
  text-align: center;
}
.imgLog {
  display: flex;
  /* margin: 2rem auto;*/
  padding: 0.5em 1em;
  color: rgb(31, 5, 92);
  background-color: #22222200;
  font-family: var(--font-google);
  font-size: 1rem;
  cursor: pointer;
  transition: 250ms;
  border-radius: 1em;
  float: center;
}

button:hover {
  background-color: none;
}
/* Menu button */

.menu__button {
  padding: 0.75em 1em;
  cursor: pointer;
  text-align: center;
  flex: 1 0 auto;
  position: relative;
  z-index: 1;
}

.menu__button:hover {
  background-color: none;
}
.res-user:hover {
  background-color: none;
}

/* Dropdown menu */

.dropdown-container {
  width: 100%;
  display: none;
  margin-top: 1rem;
  position: relative;
  box-shadow: 0 0 2rem #222;
  z-index: 2;
}

.dropdown-container::before {
  transform: scale(0.7);
  position: absolute;
  color: rgb(31, 5, 92);
  top: -2.5rem;
  left: 0;
  right: 0px;
  background-color: white;
  border-radius: 100%;
  padding: 0.25em 0.55em;
  box-shadow: 0 0 2rem #222;
}
.forman::before {
  transform: scale(0.7);
  position: absolute;
  color: rgb(31, 5, 92);
  top: -2.5rem;
  left: 0;
  right: 0px;
  background-color: white;
  border-radius: 100%;
  padding: 0.25em 0.55em;
  box-shadow: 0 0 2rem #222;
}
/* Dropdown menu content*/

.dropdown-container > ul {
  background-color: white;
  transition: 250ms;
  display: block;
  border: solid rgba(179, 177, 177, 0.288);
  border-style: outset;
  min-width: auto;
  float: right;
  margin-right: 10px;
  color:rgb(27, 31, 85)
}

.dropdown-container > ul > li {
  padding-block: 0.75em;
  text-align: left;
  z-index: 1;
  margin-left: 10px;
  margin-right: 0px;
  min-width: 100px;
  color:rgb(27, 31, 85)
}
.formamin > ul > li {
  padding-block: 0.75em;
  text-align: left;
  z-index: 1;
  margin-left: 10px;
  margin-right: 0px;
  min-width: 100px;
}
.formamin > ul > li:hover {
  background-color: white;
  color: rgb(31, 5, 92);
}

.dropdown-container > ul > li:hover {
  background-color: white;
  color: rgb(31, 5, 92);
}

.menu__button.activated .dropdown-container {
  display: block;
}
.res-user.activated .dropdown-container {
  display: block;
}


img#logo {
  background-color: white;
  float: left;
  display: left;
  align-content: center;
  /* margin-left: 10px;*/
  margin-right: 2rem;
  margin-top: 0.25rem;
  width: auto;
  height: 2.5rem;
  transition: width 0.5s, heigth 0.5s, margin-top 0.5s, margin-right 0.5s;
  -webkit-transition: margin-top 0.5s;
}

input {
  width: 85%;
  padding: 0px;
  margin-bottom: 10px;
  border: 0;
  outline: 0;
  background: #f1f1f1;
  font-weight: 80;
  font-style: italic;
  border-radius: 2px;
}
input#submit {
  background-color: rgb(39, 39, 133);
}
#submit:hover {
  background-color: rgb(39, 39, 133);
}
#log {
  width: auto;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 0px;
  float: left;
}
.forma {
  transition: 250ms;
  display: block;
  /* width: 300px; */
  float: left;
  position: absolute;
  align-items: center;
}

.format {
  display: block;
  /* width: 200px; */
  padding-left: 0px;
  left: 0;
  float: left;
}
form p {
  margin: 0;
  text-align: center;
  /* transform: translateX(-10%); */
}

#menu-icon {
  border: transparent;
}


@media (min-width: 790px) {
  .title {
    display: block;
    max-width: 50rem;
    margin: 1rem auto;
    font-family: var(--font-google);
    user-select: none;
  }
  .title >h1  {
    margin-top:20%;
    padding: 10%;
    font-family: var(--font-google);
    text-align: center;
    color: rgb(24, 76, 110);
    font-size: 2.1rem;
  }
  .imgLog {
    display: none;
    visibility: hidden;
  }
  .inicio {
    display: none;
    visibility: hidden;
  }
  .res-user {
    display: none;
    visibility: hidden;
  }
  
  .dropdown-container > ul {
    transform: translate(0, -100%);
  }
  .menu__button{
    color: rgb(27, 31, 85)
  }

  .menu__button:hover > .dropdown-container {
    pointer-events: initial;
  }

  .menu__button:hover > .dropdown-container > ul {
    transform: translate(0, 0);
  }
  .dropdown-container {
    display: inline-block;
    position: absolute;
    left: left;
    right: 4px;
    box-shadow: none;
    pointer-events: none;
    overflow: hidden;
    margin-top: 0.75rem;
    border-radius: 0 0 0.25em 0.25em;
    color:rgb(27, 31, 85)
  }

  .dropdown-container::before {
    display: none;
  }
  .menu__button--arrow {
    position: relative;
  }

  .menu__button--arrow::before {
    color: rgb(21, 8, 51);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: scale(0.5, 0.3) translate(-50%);
  }
  .contact::before {  
    color: rgb(21, 8, 51);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: scale(0.5, 0.3) translate(-50%);
  }
  .contact{
    color:rgb(27, 31, 85)
  }
  .menu__button--arrow:hover::before {
    display: none;
  }
  button {
    display: none;
  }
  .menu {
    top:0;
    display: flex;
    flex-direction: row;
    color:rgb(27, 31, 85);
    align-items: center;
    position:fixed ;
    background-color: white;
    z-index: 9999;        
  }

  input {
    width: 85%;
    padding: 0px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    background: #f1f1f1;
    font-weight: 80;
    font-style: italic;
    border-radius: 2px;
  }
  input#submit {
    background-color: rgb(176, 176, 243);
  }
  #submit:hover {
    background-color: blue;
  }
  #log {
    width: auto;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 0px;
    float: left;
  }
  .forma {
    transition: 250ms;
    display: block;
    width: 300px;
    float: left;
    position: absolute;
    align-items: center;
  }
  .formamin {
    display: none;
    visibility: hidden;
  }

  .format {
    display: inline-block;
    width: 200px;
    left: 0;
    /* float:left;
        display: inline-block; */
  }
  form p {
    margin: 0;
    text-align: center;
    /* transform: translateX(-10%); */
  }
  header{
    color:rgb(12, 12, 34)
  }
}
@media only screen and (min-device-width: 580px) and (max-device-width: 789px) {
  body {
    background-image: rgb(31, 5, 92);
    height: 100vh;
  }
  .title >h1  {
    margin-top:20%;
    padding: 10%;
    font-family: var(--font-google);
    text-align: center;
    color: rgb(24, 76, 110);
    font-size: 2.1rem;
  }
  nav ul{
    color:rgb(24, 76, 110)
  }
  ul li a{
    color:rgb(24, 76, 110)
  }
  .res-user:hover > .dropdown-container {
    pointer-events: initial;
  }

  .res-user:hover > .dropdown-container > ul {
    transform: translate(0, 0);
  }
  .res-user:hover {
    background-color: none;
  }
  .formamin {
    display: inline-flex;
    position: absolute;
    box-shadow: none;
    pointer-events: none;
    overflow: hidden; 
    left: left;
    right: 4px;
    margin-top: 4rem;
    color: rgb(24, 76, 110);
  }

  .formamin::before {
    display: none;
  }


  .res-user.activated .formamin {
    display: flex;
  }
  .formamin > ul {
    transform: translate(0, -100%);
    /* left:left;
    background:#edf1f7ee;
    padding: 6px 8px 6px 16px;
    outline: none;
    border: none;
    cursor: pointer; */
  }
  .submit-log:hover {
    transform: scale(1.1, 1.1);
  }
  
  .submit-log:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
  .submit-forma{
    background-color: #13325c;
    filter: drop-shadow(2px 2px 3px #0003);
    color: rgb(211, 218, 250);
    font-family: "Poppins", sans-serif;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  img#logo {
    display: none;
    visibility: hidden;
  }
  .imgLog {
    display: flex;
   
    padding: 0.5em 1em;
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    border-radius: 1em;
    float: center;
  }
  .res-user {
    display: flex;
    padding: 0.5em 1em;
    color: rgb(24, 76, 110);
    background-color: none;
    font-family: var(--font-google);
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    border-radius: 0.5em;
    float: center;
  }
  .res-user::before {
    color: rgb(24, 76, 110);
    background-color: none;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
  }
 
  .principal {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.966);
    padding: 0.5em 1em;
    top: 0px;
    z-index: 11;
  }
  button {
    display: flex;
    padding: 0.5em 1em;
    color: rgb(24, 76, 110);
    background-color: transparent;
    font-family: var(--font-google);
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    border-radius: 1em;
    border-color: transparent;
    float: center;
    z-index: 1;
  }

  button:hover {
    background-color: none;
  }

  .menu {
    --color-menu-dark: rgb(250, 249, 249);
    align-items: center;
    margin-left: 0;
    left: left;
    display: none;
    flex-direction: column;
    position: fixed;
    box-shadow: 0 0.25rem 0.75rem rgb(237, 237, 243);
    margin-top: 20px;
    z-index: 1;
    color: rgb(24, 76, 110);
    width: 40%;
    transform:translateY(2em);
    
  }
  .menu.activated {
    display: flex;
  }

  .menu--background {
    background-color: var(--color-menu-dark);
    color: rgb(31, 5, 92);
  }
  .menu li, .menu__button--arrow {
    font-family: var(--font-google);
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(24, 76, 110);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    
    
  }
  .menu li:hover, .menu__button--arrow:hover {
    color: #1f1750;
  }
  .menu__button--arrow.active {
    background-color:rgb(24, 76, 110);
    color: white;
  }
  .but.active{
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  .menu__button::after > .dropdown-container > ul {
    transform: translate(0,0);
    background-color: white;
    transition: 250ms;
    display: block;
    border: solid rgba(156, 176, 243, 0.288);
    border-style: outset;
    min-width: auto;
    float: right;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 1;
  }
  /* Menu button */

  .menu__button {
    padding: 0.75em 1em;
    cursor: pointer;
    text-align: center;
    flex: 1 0 auto;
    position: relative;
  }

  .menu__button:hover {
    background-color: none
  }
  .dropdown-container > ul {
    background-color: white;
    transition: 250ms;
    display: block;
    border: solid rgba(156, 176, 243, 0.288);
    border-style: outset;
    min-width: auto;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    z-index: 2;
  }
  
  
  .menu__button:hover > .dropdown-container {
    pointer-events: initial;
  }

  .fa-caret-down {
    float: right;
    padding-right: 0px;
  }
  
  .menu__button:hover > .dropdown-container {
    pointer-events: initial;
  }

  .dropdown-container::before {
    display: none;
  }
  .menu__button--arrow {
    position: relative;
  }

  .menu__button--arrow::before {

    color: rgb(31, 5, 92);
    position: absolute;
    left: 0%;
    bottom: 0;
    transform: scale(0.5, 0.3) translate(-50%);
  }

  .menu__button--arrow:hover::before {
    display: none;
  }
  .forma {
    display: none;
    visibility: hidden;
  }
  #log {
    display: none;
    visibility: hidden;
  }
  .format {
    display: none;
    visibility: hidden;
  }
  h2#contacto {
    font-size: var(--font-google) (30px, 12vw, 60px);
    text-align: center;
    align-items: center;
    color: rgb(24, 76, 110)
  }

  .links a {
    padding-top: 30px;
    margin: 0 20px;
    color: rgb(24, 76, 110);
    transition: 0.5s;
  }
  .contact-form-wrapper {
    background-color: #1a1981d7;
    border-radius: 0 10px 10px 0;
  }
  #contact {
    margin-top: 20%;
    background-color: #113d94;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
  act-box {
    width: 95%;
    margin: 8% 5%;
  }
  .form-item {
    position: relative;
  }

  /* Footter */
  footer .bottom_content section {
    padding: 1.5rem 2rem;
    display: inline-block;
    align-items: center;
    justify-content: Center;
  }
  footer .bottom_content section {
    padding: 1rem;
    display: block;
  }
  

  /* home */
  .container {
    min-height: calc(100vh - 12vh);
    margin-top: 5%;
  }

  .carousel-control-prev {
    background-color: black;
    
  }
  .carousel-control-prev:hover{
    color:blueviolet
  }
  .sr-only{
    color:black;
    font-size:15rem;
  }
	h1.tit{
    position: absolute;
    background-color: black;
    color:white
  }
  .carousel{
    position: relative;
    /* overflow: hidden; */
    /* margin: 20px auto 0 auto; */
    border-radius: 4px;
    z-index:-55;
    align-items: center
  }

  .carousel-item {
    position: relative;
    margin-bottom: 20%;
    padding: 0;
    height: 200px;
    list-style: none;
  }

  img.carrusel {
    position: relative;
    display: block;
    float: center;
    margin-bottom: 10%;
    padding: 0;
    width: 600px;
    height:auto;
    background: #ccc;
    text-align: center;
    line-height: 300px;
  }

  a.carousel-control-prev, a.carousel-control-next {
    position: absolute;
    top: 40%;
    /* z-index: 99; */
    display: block;
    padding: 1% 1% 1% 1%;
    width: auto;
    height: auto;
    background: black;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  .carousel-control-prev-icon{
    color: black;
    border-radius: solid 100px ;
  }
  .carousel-control {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); */
    border-radius: 100px;
    margin-right: solid 10%;
    color: black
  }
  a.carousel-control-prev:hover, a.carousel-control-next:hover {
    opacity: 1;
    transition: all 0.2s ease;
  }

  a.carousel-control-prev {
    border-radius: 0 2px 2px 0;
  }

  a.carousel-control-next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }

  .carousel-inner {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }

  /* registro */
  .form-wrapper {
    margin-top:0%;
    float:center
  }

}
@media only screen and (min-device-width: 380px) and (max-device-width: 579px) {
  body {
    background-image: rgb(31, 5, 92);
    height: 100vh;
  }
  .title >h1  {
    margin-top:20%;
    padding: 10%;
    font-family: var(--font-google);
    text-align: center;
    color: rgb(24, 76, 110);
    font-size: 2.1rem;
  }
  nav ul{
    color:rgb(24, 76, 110)
  }
  ul li a{
    color:rgb(24, 76, 110)
  }
  .res-user:hover > .dropdown-container {
    pointer-events: initial;
  }

  .res-user:hover > .dropdown-container > ul {
    transform: translate(0, 0);
  }
  .res-user:hover {
    background-color: none;
  }
  .formamin {
    display: inline-flex;
    position: absolute;
    box-shadow: none;
    pointer-events: none;
    overflow: hidden; 
    left: left;
    right: 4px;
    margin-top: 4rem;
    color: rgb(24, 76, 110);
    transform: scale(1.1,1.1) translateX(-20%);
  }

  .formamin::before {
    display: none;
  }
  
  .res-user.activated .formamin {
    display: flex;
  }
  .formamin > ul {
    transform: translate(0, -100%);
    left:left;
    background:#edf1f7ee;
    padding: 6px 8px 6px 16px;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .submit-log:hover {
    transform: scale(1.1, 1.1);
  }
  
  .submit-log:active {
    transform: scale(1.1, 1.1);
    filter: sepia(0.5);
  }
  .submit-forma{
    background-color: #13325c;
    filter: drop-shadow(2px 2px 3px #0003);
    color: rgb(211, 218, 250);
    font-family: "Poppins", sans-serif;
    padding: 12px 20px;
    margin: 2px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
  }
  img#logo {
    display: none;
    visibility: hidden;
  }
  .imgLog {
    display: flex;
    margin: 2rem auto;
    padding: 0.5em 1em;
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    border-radius: 1em;
    float: center;
  }
  .res-user {
    display: flex;
    padding: 0.5em 1em;
    color: rgb(24, 76, 110);
    background-color: none;
    font-family: var(--font-google);
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    border-radius: 0.5em;
    float: center;
  }
  .res-user::before {
    color: rgb(24, 76, 110);
    background-color: none;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: center;
  }
 
  .principal {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.966);
    align-items: center;
    top: 0px;
    z-index: 1;
  }
  button {
    display: flex;
    padding: 0.5em 1em;
    color: rgb(24, 76, 110);
    background-color: transparent;
    font-family: var(--font-google);
    font-size: 1rem;
    cursor: pointer;
    transition: 250ms;
    border-radius: 1em;
    border-color: transparent;
    float: center;
    z-index: 1;
  }

  button:hover {
    background-color: none;
  }

  .menu {
    --color-menu-dark: rgb(250, 249, 249);
    align-items: center;
    margin-left: 10px;
    display: none;
    flex-direction: column;
    position: fixed;
    box-shadow: 0 0.25rem 0.75rem rgb(237, 237, 243);
    margin-top: 0px;
    z-index: 1;
    transform: translateX(-16%) translateY(3%);
    color: rgb(24, 76, 110);
    width: 100%;
    
  }
  .menu.activated {
    display: flex;
  }

  .menu--background {
    background-color: var(--color-menu-dark);
    color: rgb(31, 5, 92);
  }
  .menu li, .menu__button--arrow {
    font-family: var(--font-google);
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(24, 76, 110);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .menu li:hover, .menu__button--arrow:hover {
    color: #1f1750;
  }
  .menu__button--arrow.active {
    background-color:rgb(24, 76, 110);
    color: white;
  }
  .but.active{
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  .menu__button::after > .dropdown-container > ul {
    transform: translate(0,0);
    background-color: white;
    transition: 250ms;
    display: block;
    border: solid rgba(156, 176, 243, 0.288);
    border-style: outset;
    min-width: auto;
    float: right;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 1;
  }
  /* Menu button */

  .menu__button {
    padding: 0.75em 1em;
    cursor: pointer;
    text-align: center;
    flex: 1 0 auto;
    position: relative;
  }

  .menu__button:hover {
    background-color: none
  }
  .dropdown-container > ul {
    background-color: white;
    transition: 250ms;
    display: block;
    border: solid rgba(156, 176, 243, 0.288);
    border-style: outset;
    min-width: auto;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    z-index: 2;
  }
  
  
  .menu__button:hover > .dropdown-container {
    pointer-events: initial;
  }

  .fa-caret-down {
    float: right;
    padding-right: 0px;
  }
  
  .menu__button:hover > .dropdown-container {
    pointer-events: initial;
  }

  .dropdown-container::before {
    display: none;
  }
  .menu__button--arrow {
    position: relative;
  }

  .menu__button--arrow::before {

    color: rgb(31, 5, 92);
    position: absolute;
    left: 0%;
    bottom: 0;
    transform: scale(0.5, 0.3) translate(-50%);
  }

  .menu__button--arrow:hover::before {
    display: none;
  }
  .forma {
    display: none;
    visibility: hidden;
  }
  #log {
    display: none;
    visibility: hidden;
  }
  .format {
    display: none;
    visibility: hidden;
  }
  h2#contacto {
    font-size: var(--font-google) (30px, 12vw, 60px);
    text-align: center;
    align-items: center;
    color: rgb(24, 76, 110)
  }

  .links a {
    padding-top: 30px;
    margin: 0 20px;
    color: rgb(24, 76, 110);
    transition: 0.5s;
  }
  .contact-form-wrapper {
    background-color: #1a1981d7;
    border-radius: 0 10px 10px 0;
  }
  #contact {
    margin-top: 20%;
    background-color: #113d94;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
  act-box {
    width: 95%;
    margin: 8% 5%;
  }
  .form-item {
    position: relative;
  }

  /* Footter */
  footer .bottom_content section {
    padding: 1.5rem 2rem;
    display: inline-block;
    align-items: center;
    justify-content: Center;
  }
  footer .bottom_content section {
    padding: 1rem;
    display: block;
  }
  

  /* home */
  .container {
    min-height: calc(100vh - 12vh);
    margin-top: 5%;
  }

  .carousel-control-prev {
    background-color: black;
    
  }
  .carousel-control-prev:hover{
    color:blueviolet
  }
  .sr-only{
    color:black;
    font-size:15rem;
  }
	h1.tit{
    position: absolute;
    background-color: black;
    color:white
  }
  .carousel{
    position: relative;
    /* overflow: hidden; */
    /* margin: 20px auto 0 auto; */
    border-radius: 4px;
    z-index:-55;
    align-items: center
  }

  .carousel-item {
    position: relative;
    margin-bottom: 20%;
    padding: 0;
    height: 200px;
    list-style: none;
  }

  img.carrusel {
    position: relative;
    display: block;
    float: center;
    margin-bottom: 10%;
    padding: 0;
    width: 600px;
    height:auto;
    background: #ccc;
    text-align: center;
    line-height: 300px;
  }

  a.carousel-control-prev, a.carousel-control-next {
    position: absolute;
    top: 40%;
    /* z-index: 99; */
    display: block;
    padding: 1% 1% 1% 1%;
    width: auto;
    height: auto;
    background: black;
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  .carousel-control-prev-icon{
    color: black;
    border-radius: solid 100px ;
  }
  .carousel-control {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); */
    border-radius: 100px;
    margin-right: solid 10%;
    color: black
  }
  a.carousel-control-prev:hover, a.carousel-control-next:hover {
    opacity: 1;
    transition: all 0.2s ease;
  }

  a.carousel-control-prev {
    border-radius: 0 2px 2px 0;
  }

  a.carousel-control-next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }

  .carousel-inner {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }

  /* registro */
  .form-wrapper {
    margin-top:0%;
    float:center
  }
}


.border-shape {
  background: rgb(52, 55, 90);
  color: rgb(52, 55, 90);
  display: block;
  height: 3px;
  left: 0;
  margin: 20px auto;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;
  width: 80px;
}

.border-shape::before {
  background: rgb(52, 55, 90);
  bottom: 0;
  content: "";
  height: 1px;
  left: 80px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 100px;
}

.border-shape::after {
  background: rgb(52, 55, 90);
  bottom: 0;
  content: "";
  height: 1px;
  margin: 0 auto;
  position: absolute;
  right: 80px;
  text-align: center;
  top: 1px;
  width: 100px;
}

/*FOOTER*/
footer {
  width: 100%;
  background-color: #e0eaff;
  color: rgb(52, 55, 90);
}

.top_header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.top_header section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top_header span {
  padding: 0 1rem;
}

.top_header .fa {
  color: rgb(52, 55, 90);
  font-size: 35px;
}

footer .border-shape {
  width: 40%;
}

footer .border-shape::before {
  width: 100%;
  left: 120px;
}

footer .border-shape::after {
  width: 100%;
  right: 120px;
}

footer .bottom_content section {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: Center;
}

.bottom_content a {
  margin: 0 20px;
  color: rgb(52, 55, 90);
  transition: 0.5s;
}

.bottom_content a:hover {
  color: rgba(255, 255, 255, 1);
}

.copyright {
  padding: 0.8em 0;
  background-color: #e0eaff;
  text-align: center;
  color: rgb(52, 55, 90);
  font-size: 12px;
}

@media (max-width: 820px) {
  .top_header {
    padding: 1rem;
    display: block;
  }

  .top_header section {
    margin: 40px 0;
    align-items: left;
    justify-content: left;
  }
  footer .bottom_content section {
    padding: 1rem;
    display: block;
  }
  footer .bottom_content section a {
    padding: 1rem;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
  }
}

/* Contacto */
#contact {
  background-color: #edf2fc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-box {
  width: clamp(100px, 90%, 1000px);
  margin: 80px 50px;
  display: flex;
  flex-wrap: wrap;
}

.contact-links,
.contact-form-wrapper {
  width: 50%;
  padding: 8% 5% 10% 5%;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

@media only screen and (max-width: 800px) {
  .contact-links,
  .contact-form-wrapper {
    width: 100%;
  }

  .contact-links {
    border-radius: 10px 10px 0 0;
  }

  .contact-form-wrapper {
    border-radius: 0 0 10px 10px;
  }
}

@media only screen and (max-width: 400px) {
  .contact-box {
    width: 95%;
    margin: 8% 5%;
  }
}
h2#contacto {
  font-family: "Arimo", sans-serif;
  color: #fff;
  font-size: clamp(30px, 6vw, 60px);
  letter-spacing: 2px;
  text-align: center;
  transform: scale(0.95, 1);
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}
.links a {
  padding-top: 30px;
  margin: 0 20px;
  color: rgb(24, 76, 110);
  transition: 0.5s;
}
.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}
.link {
  margin: 10px;
  cursor: pointer;
}
img.icon {
  width: 45px;
  height: 45px;
  filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #0006);
  transition: 0.2s;
  user-select: none;
}
img.icon:hover {
  transform: scale(1.1, 1.1);
}
img.icon:active {
  transform: scale(1.1, 1.1);
  filter: hue-rotate(220deg) drop-shadow(2px 4px 4px #222) sepia(0.3);
}
.form-item {
  position: relative;
}
label,
input.cont_inp,
textarea {
  font-family: "Poppins", sans-serif;
}

label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

input.cont_inp,
textarea {
  width: 100%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}
input.cont_inp:focus + label,
input.cont_inp:valid + label,
textarea:focus + label,
textarea:valid + label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all 0.225s ease;
}
.submit-btn {
  background-color: #13325c;
  filter: drop-shadow(2px 2px 3px #0003);
  color: rgb(211, 218, 250);
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

@media only screen and (max-width: 400px) {
  h2.contanto {
    font-size: clamp(30px, 12vw, 60px);
  }

  .links {
    padding-top: 30px;
  }

  img.icon {
    width: 38px;
    height: 38px;
  }
}
/* home */
/* .container {
  min-height: calc(100vh - 58px - 12vh);
} */


.card {
  max-width: 91vw;
  margin: 37px auto;
  /* overflow: hidden; */
  margin-top: 10%;
}

.card-items {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15px;
}

.card h2 {
  color: rgb(24, 76, 110);
  font-family: var(--font-google);
}

.cards {
  display: flex;
  overflow: scroll;
}

/* justify-content: center; */
.card h2:hover {
  font-weight: bold;
  font-family: var(--font-google);
  color: rgb(126, 124, 196);
  cursor: pointer;
}

.lines p:hover {
  color: rgb(75, 75, 156);
  font-weight: bold;
  cursor: pointer;
}


.flex-all-center {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 5px 10px;
  color: white;
  background: var(--main-bg-color);
  border: 2px solid white;
  border-radius: 7px;
  cursor: pointer;
}

.flex-all-center p:hover {
  font-weight: bold;
  color: burlywood;
  cursor: pointer;
}

.my-1 {
  margin: 5px 0;
}

.my-2 {
  margin: 50px 0;
  font-family: var(--font-google);
  font-size: 2rem;
  
}

.text-center {
  text-align: center;
}

.carousel-control-prev {
  background-color: black
}
.sr-only{
  color:black
}
	
.carousel{
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  z-index:-55
}

img.carrusel {
  position: relative;
  display: block;
  float: center;
  margin-top: 10%;
  padding: 0;
  width: 600px;
  height:auto;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.carousel-control-prev, a.carousel-control-next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 1% 1% 1% 1%;
  width: auto;
  height: auto;
  background: transparent;
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
.carousel-control-prev-icon{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 100px;
}
.carousel-control-next-icon{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 100px;
  margin-right: 10%;
  color: black
}
a.carousel-control-prev:hover, a.carousel-control-next:hover {
  opacity: 1;
  transition: all 0.2s ease;
}

a.carousel-control-prev {
  border-radius: 0 2px 2px 0;
}

a.carousel-control-next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.carousel-inner {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}